# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for Microsft Visual Studio
## VS intermediate debug file
*.idb
## VS, information of the build
*.tlog

## VS, symbol file which is used for debugging
*.pdb

## information will be added....
*.ipch
*.ncb
*.sdf
*.ilk
